

#bk 
{
   background-color: cornflowerblue;
   padding: 6%;
   
}

#resultado
{
    font-size: 120%;
    padding: 9%;
}                                                                                                                                                                                                                                                                               