#body 
{
    background-color: white
    
    
}

h3
{
    text-align: center;
    color: rgb(0, 66, 0);
    padding: 4%;
}

#resultado 
{
    background-color: cornsilk;
    color: rgb(0, 66, 0);
    
}

#codigo 
{
    
}